---
import "@/assets/styles/main.css";
import Navbar from "@/components/navbar.astro";
import { site } from "@/consts";

interface Props {
  title?: string;
  description?: string;
}

let { title = site.title, description = site.description } = Astro.props;
if (title !== site.title) title = `${site.title} | ${title}`;
---

<!doctype html>
<html lang={site.language}>
  <head>
    <script is:inline>
      // Establece el tema guardado en localStorage o el predeterminado del explorador
      localStorage.getItem("theme")
        ? document.documentElement.setAttribute("data-theme", localStorage.getItem("theme"))
        : window.matchMedia("(prefers-color-scheme: light)").matches;
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>

    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href={site.url} />
    <meta name="description" content={description} />
    <slot name="head" />

    <!-- OpenGraph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={site.url} />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content={site.language} />
    <meta property="og:site_name" content={site.title} />
    <meta property="og:image" content="/ogimage.jpg" />
    <meta property="og:image:alt" content={site.title} />
    <!-- /OpenGraph -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={site.title} />
    <meta name="twitter:description" content={site.description} />
    <meta name="twitter:image" content="/ogimage.jpg" />
    <meta name="twitter:url" content={site.url} />
    <!-- /Twitter -->
  </head>

  <body>
    <Navbar />
    <slot />

    <slot name="script" />
  </body>
</html>
